/* Common */
* {
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #000958;

  --accent-color-1: #5e6085;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
select,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

a:active {
  color: unset;
}

/* Resuable */
.container {
  margin-inline: auto;
  width: 1169px;
  max-width: 100% - 48px;
}

.logo {
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-size: 1rem;
}

.logo__brand {
  width: 3.5em;
  height: 3.8em;
}

.logo__label {
  font-size: 2.5em;
  font-family: "Sora", sans-serif;
}

/* Header */
.header {
  margin-top: 26px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  column-gap: 36px;
}

.header__item {
  color: var(--accent-color-1);
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.header__item:hover {
  color: var(--primary-color);
  text-shadow: 1px 0 0 currentColor;
}

.header__sign-up-btn {
  --line-height: 50px;
  border: none;
  outline: none;
  min-width: 117px;
  height: var(--line-height);
  padding-inline: 18px;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  background: transparent;
  cursor: pointer;
}

.header__sign-up-btn:hover {
  opacity: 0.7;
}
