/* Common */
* {
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #000958;
  --secondary-color: #656689;

  --accent-color-1: #5e6085;
  --accent-color-2: #ff5b2e;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
select,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

a:active {
  color: unset;
}

/* Resuable */
.container {
  margin-inline: auto;
  width: 1169px;
  max-width: 100% - 48px;
}

.logo {
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-size: 1rem;
}

.logo__brand {
  width: 3.5em;
  height: 3.8em;
}

.logo__label {
  font-size: 2.5em;
  font-family: "Sora", sans-serif;
}

/* Header */
.header {
  margin-top: 26px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  column-gap: 36px;
}

.header__item {
  color: var(--accent-color-1);
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.header__item:hover {
  color: var(--primary-color);
  text-shadow: 1px 0 0 currentColor;
}

.header__sign-up-btn {
  --line-height: 50px;
  border: none;
  outline: none;
  min-width: 117px;
  height: var(--line-height);
  padding-inline: 18px;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  background: transparent;
  cursor: pointer;
}

.header__sign-up-btn:hover {
  opacity: 0.7;
}

.hero {
  margin-top: 100px;
}

.hero__inner {
  display: flex;
  min-height: 582px;
}

.hero__media {
  width: 52%;
  position: relative;
}

.hero__main-wrapper {
  position: relative;
  width: 388px;
  height: 488px;
  background: #fe997b;
  border-radius: 16px;
}

.hero__main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__decor-top {
  position: absolute;
  top: 20px;
  right: -44px;
  z-index: -1;
}

.hero__decor-bottom {
  position: absolute;
  left: -62px;
  bottom: 0;
  z-index: -1;
}

.hero__thumbnail {
  position: absolute;
  bottom: 44px;
  right: 53px;
  z-index: 2;
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.65);
  box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
  background: #faa7ad;
}

.hero__card {
  position: absolute;
  bottom: 0;
  left: 134px;
  z-index: 3;
  padding: 18px 14px;
  width: 250px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__card-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.hero__card-item {
  display: flex;
  align-items: center;
  column-gap: 9px;
}

.hero__card-item:not(.hero__card-item:first-child) {
  padding-top: 20px;
  border-top: 3px solid #f2f2f2;
}

.hero__card-mask {
  border-radius: 10px;
  background: #fec23f;
}

.hero__card-item:nth-child(2) .hero__card-mask {
  background: #c6e2fa;
}

.hero__card-info {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.hero__card-title {
  color: #181e52;
  font-size: 1.4rem;
  font-weight: 600;
}

.hero__progress-top {
  width: 118px;
  height: 4px;
  border-radius: 10px;
  background: #ebebf2;
}

.hero__progress-bottom {
  width: 39px;
  height: 4px;
  border-radius: 10px;
  background: #ebebf2;
}

.hero__content {
  max-width: 517px;
  padding-block: 71px;
}

.hero__title {
  color: var(--primary-color);
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15;
}

.hero__desc {
  margin-top: 24px;
  max-width: 391px;
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87;
}

.hero__cta {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.hero__book-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  outline: none;
  border-radius: 31px;
  border: none;
  padding-inline: 22px;
  min-width: 189px;
  line-height: 60px;

  background: var(--accent-color-2);
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  cursor: pointer;
}

.hero__book-btn:hover {
  opacity: 0.9;
}

.hero__book-label {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.hero__chevron-wrapper {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
}

.hero__chevron-icon {
  color: #fd5056;
}

.hero__link {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration-line: underline;
}
